* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

body,
input,
textarea,
select {
    font-size: 1.4rem;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-auto-rows: 4rem 1fr 4rem;
    /* grid-template-columns: 1fr; */
    height: 100vh;
}

header {
    grid-area: header;
    background-color: rgb(105, 105, 105);
    display: flex;
    align-items: center;
    padding: .5rem;
}

a {
    text-decoration: none;
    color: #FFF;
}

header a:hover {
    color: rgb(61, 200, 255);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: rgb(105, 105, 105);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 80%;
}

.sidebar {
    flex: 20%;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.product-container {
    font-size: 1.2rem;
    margin: 10px;
}

.product-container img {
    height: 350px;
    width: 100%;
}

.product-container p {
    margin: 8px 0;
    color: rgb(61, 200, 255);
}

.product-container .last-row {
    display: flex;
    justify-content: space-around;
    margin: 0 5px;
}

.btn {
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.btn.primary {
    background-color: rgb(238, 92, 35);
    color: white;
}

.sidebar h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-order {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.right-side {
    width: 70%;
}

.right-side span {
    font-size: 1rem;
}

.cart img {
    width: 70px;
    height: 70px;
}

.cart .price {
    width: 100%;
    margin-top: 10px;
}

.cart .price .btn {
    margin-left: 5px;
}

.cart .total {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}