* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

body,
input,
textarea,
select {
    font-size: 1.4rem;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-auto-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: aqua;
    display: flex;
    align-items: center;
    padding: .5rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(240, 62, 172);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}